body {
  background-image: url(assets/home/background-home-desktop.jpg);
  position: relative;
  background-size: auto;
  align-self: center;
  margin: 0;
}

/* Navigation top */
.nav-wrapper {
  background-color: pink;
  display: block;
  height: 96px;
  margin-top: 40px;
  position: relative;
  width: 100%;
}

.Next-to-bar {
  background-color: green;
  display: block;
  margin-top: -24px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 640px;
  z-index: 1;
}

.top-bar {
  background: purple;
  /* background: rgba(255, 255, 255, 0.04); */
  backdrop-filter: blur(8.15485px);
  height: 96px;
  right: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 830px;
}

.logoimg {
  float: left;
  max-width: 100%;
  height: auto;
  padding-left: 55px;
}

.rule {
  top: 78px;
  left: 167px;
  color: grey;
  border-style: none;
  width: 473px;
  border-top-style: solid;
  position: fixed;
}

.top-bar__button {
  display: inline-block;
  padding: 36px 16px;
  font-family: 'Barlow Condensed';
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 2.7px;
}

.bold {
  font-weight: bold;
}

/* header text for the ad  */
.Ad-Text {
  background-color: teal;
  width: 450px;
  height: 382px;
  left: 165px;
  top: 387px;
  position: absolute;
}

.First {
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
  font-size: 29px;
  letter-spacing: 4.725px;
  line-height: 34px;
  background-color: deeppink;
  position: absolute;
  top: 0;
}

.pop-out {
  color: #FFFFFF;
  font-family: 'Bellefair';
  font-weight: normal;
  font-size: 150px;
  line-height: 172px;
  letter-spacing: 0;
  background-color: aquamarine;
  position: absolute;
  bottom: 152px;
}

.under-header {
  color: #D0D6F9;
  font-family: 'Barlow';
  font-size: 18px;
  line-height: 32px;
  font-style: normal;
  background-color: cornflowerblue;
  position: absolute;
  bottom: 0;
}

/* explore button */

.Explore-circle {
  position: absolute;
  top: 495px;
  left: 1001px;
  width: 274px;
  height: 274px;
}

.Explore-text {
  font-family: 'Bellefair';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0B0D17;
  position: absolute;
  top: 614px;
  right: 229px;


}
