body {
  background-image: url(assets/home/background-home-desktop.jpg);
  position: relative;
  background-size: auto;
  align-self: center;
  margin: 0;
}
/* ------------ */
/* Navigation top */
/* this is to make the heading (for which section of code you are in) stand out more */
/* ----------- */
.nav-wrapper {
  /* background-color: pink; */
  display: block;
  margin-top: 40px;
  position: relative;
  text-align: right;
  width: 100%;
}

.logoimg {
  float: left;
  max-width: 100%;
  height: auto;
  padding-left: 4%;
  padding-top: 1.5%;
}

.rule {
  top: 40px;
  left: 167px;
  color: #979797;
  border-style: none;
  width: 28%;
  border-top-style: solid;
  position: absolute;
  z-index: 1;
}

.top-navbar {
  /* background: purple; */
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(80.5485px);
  display: inline-block;
  padding: 0 10% 0 7%;
  text-align: right;
}



.top-navbar__button {
  display: inline-block;
  cursor: pointer;
  padding: 38px 24px;
  position: relative;
}

.top-navbar__text {
  font-family: 'Barlow Condensed';
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.7px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: normal;
  font-style: normal;
}

.top-navbar__text span {
  padding: 8px;
}



.top-navbar__line {
  background-color: #979797;
  bottom: 0;
  display: block;
  height: 4px;
  left: 24px;
  right: 24px;
  opacity: 0;
  position: absolute;
}

.top-navbar__button:hover .top-navbar__line {
  opacity:1;
}

.top-navbar__button:active .top-navbar__line {
  background-color: #FFFFFF;
}


/* ----------
Explore Ad section
---------- */

.Explore-Ad {
  margin-top: 256px;
}

/* header text for the ad  */

.row {
  /* background-color: coral; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}
.column {
  background-color: deeppink;
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  align-self: auto;
  order: 0;
}
.Ad-Text {
  background-color: teal;
}

.First {
  color: #D0D6F9;
  font-family: 'Barlow Condensed';
  font-size: 29px;
  letter-spacing: 4.725px;
  line-height: 34px;
  /* background-color: deeppink; */

}

.pop-out {
  color: #FFFFFF;
  font-family: 'Bellefair';
  font-weight: normal;
  font-size: 150px;
  display: block;
  line-height: 172px;
  padding: 24px 0;
  /* background-color: aquamarine; */
}

.under-header {
  color: #D0D6F9;
  font-family: 'Barlow';
  font-size: 18px;
  line-height: 32px;
  font-style: normal;
  /* background-color: cornflowerblue; */
}

/* explore button */

.Explore-here {
  background-color: firebrick;
}

.Explore__circle-button {
  width: 274px;
  height: 274px;
  background-color: #FFFFFF;
  border-radius: 137px;
}

.Explore-text {
  font-family: 'Bellefair';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  line-height: 37px;
  letter-spacing: 2px;
  color: #0B0D17;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 119px;
}

.Explore__active-button {
  width: 450px;
  height: 450px;
  background-color: #979797;

}
 /* text styles */


.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}
